* {
    outline: 1px solid red;
}

:root{
    --preto-100: #464646;
    --azul-10: #EAF2FD;
    --preto-branco: #FFF;
    --azul-100: #2A7AE4;
}

body{
    background: #EDEDED;
}

.cabecera {
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    
}