
:root {
    --preto-100: #464646;
    --azul-10: #EAF2FD;
    --preto-branco: #FFF;
    --azul-100: #2A7AE4;
    --preto-30: #C8C8C8;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #EDEDED;
}

.cabecera {
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;

}

@media screen and (max-width:768px) {
    .cabecera {
        width: auto;
        margin: 1rem 2rem;
    }
}

@media screen and (max-width:428px) {
    .cabecera {
        width: auto;
        margin: 1rem;
    }
}