.contacto {
    background: var(--azul-10);
    padding: 4rem;
}
@media screen and (max-width:768px) {
    .contacto {
        padding: 2rem;
    }
}

@media screen and (max-width:360px) {
    .contacto {
        width: auto;
        padding: 2rem 1rem;
    }
}