.hobbie {
    margin: 0 auto;
    width: 85%;
    padding-top: calc(5.5rem / 2);
    padding-bottom: 5.5rem;
}

@media screen and (max-width: 768px) {
    .hobbie {
        width: auto;
        margin: 2rem;
        padding: 0;
    }
}

@media screen and (max-width:428px) {
    .hobbie {
        width: auto;
        margin: 1rem;
    }
}