.skill {
    width: 85%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: calc(5.5rem / 2);
}

@media screen and (max-width:768px) {
    .skill {
        width: auto;
        margin: 2rem;
        padding: 0;
    }
}

@media screen and (max-width:428px) {
    .skill {
        width: auto;
        margin: 1rem;
    }
}