.presentacion__link {
    display: flex;
    align-items: center;
    color: var(--preto-100);
    font-size: 1rem;
    font-family: Raleway;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
}

.presentacion__link--imagen {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('../../imagenes/arrow_back_black.svg');

}

.presentacion__link:hover {
    cursor: pointer;
    text-decoration: underline;
}
