.presentacion__imagen--container {
    width: 35%;
    display: flex;

}

.presentacion__imagen {
    width: 100%;
    /*padding-bottom: 35%;*/
    position: relative;
    top: 10%;
    height: calc(60vh);
    border-radius: 100%;
    background-image: url('../../imagenes/fotoPerfil.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .presentacion__imagen {
        width: 20%;
        height: 9.125rem;
    }
}

@media screen and (max-width:360px) {
    .presentacion__imagen--container {
        width: 100%;
        order: -1;
    }

    .presentacion__imagen {
        height: 6.125rem;
        width: 6.125rem;
        background-position: left center;
    }
}