.skills {
    display: flex;
    justify-content: center;
}

.skills .skills__container:last-child {
    margin-right: 0;
}

@media screen and (max-width: 360px) {
    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem 1rem;
        flex: 1 0 0;
    }
}

@media screen and (max-width: 768px) {
    .skills {
        flex-wrap: wrap;
    }
}