.skills__titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    color: var(--preto-100);
    font-size: 2rem;
    font-family: Raleway;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}

@media screen and (max-width: 768px) {
    .skills__titulo {
        font-size: 1.375rem;
    }
}