.formaciones {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formaciones .formaciones__container:last-child {
    margin: 0;
}

@media screen and (max-width:428px){
    .formaciones {
        flex-direction: column;
    }
}