.formaciones__container {
    width: 23rem;
    height: auto;
    margin-right: 1rem;
    /*box-sizing: border-box;*/
}

@media screen and (max-width:428px) {
    .formaciones__container {
        width: auto;
        margin: 0;
        margin-bottom: 1rem;
    }
}