.formacion__container {
    width: 85%;
    margin: 0 auto;
    padding: 5.12rem 0;
}

@media screen and (max-width: 768px) {
    .formacion__container {
        width: auto;
        padding: 2rem;
    }
}

@media screen and (max-width:428px) {
    .formacion__container {
        width: auto;
        margin: 0;
        padding: 2rem 1rem;
    }
}