.formacion__container--titulo {
    display: flex;
    justify-content: center;
    color: var(--preto-100);
    font-size: 2rem;
    font-family: Raleway;
    font-weight: 700;
    margin-bottom: 2rem;
    font-style: normal;
    line-height: normal;
}

@media screen and (max-width:768px) {
    .formacion__container--titulo {
        font-size: 1.375rem;
    }
}