.experiencias__detalles {
    display: flex;
    flex-direction: column;
    width: calc(100% - 65% - 1rem);
    justify-content: center;
}

.experiencias__detalles .experiencias__descripcion {
    margin: 0.5rem 0;
}

@media screen and (max-width:768px) {
    .experiencias__detalles {
        width: auto;
    }
}