.sobre__container {
    display: flex;
    width: 85%;
    margin: 0 auto;
    padding: 4rem 0;
    flex-direction: column;
}

.container {
    width: calc(100% - 1rem - 35%);
}

@media screen and (max-width: 768px) {
    .sobre__container {
        width: auto;
        margin: 2rem;
    }

    .container {
        width: auto;
    }
}

@media screen and (max-width:360px) {
    .sobre__container {
        width: auto;
        margin: 1rem;
        padding: 1rem 0;
    }
}