.menu__link {
    list-style: none;
    text-decoration: none;
    /*margin-left: 2rem;*/
    
    color: var(--preto-100);
    font-size: 1rem;
    font-family: Raleway;
    font-weight: 500;

    transition: all ease-in-out .5s;
}

.menu__link:hover {
    color: #FFF;
    background-color: #9799A6;
    border-radius: 8px;
    padding: .5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

@media screen and (max-width:360px) {
    .menu__link {
        color: var(--preto-100);
        font-family: Raleway;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}