.hobbies {
    display: flex;
    justify-content: center;
}

.hobbies .hobbies__container:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: 360px) {
    .hobbies {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem 1rem;
        flex: 1 0 0;
    }
}

  @media screen and (max-width: 768px) {
    .hobbies {
        flex-wrap: wrap;
    }
  }