.hobbies {
    display: flex;
    justify-content: center;
}

.hobbies .hobbies__container:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: 768px) {
    .hobbies {
        flex-wrap: wrap;
    }
  }